name: Code linting

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.14
      uses: actions/setup-python@v2
      with:
        python-version: "3.14"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint, setuptools
        pip install -r requirements.txt
    - name: Analysing the code with pylint
      run: |
        pylint --unsafe-load-any-extension=y --disable=all --enable=import-error --enable=cyclic-import $(git ls-files '*.py')
